/***** BASE STYLES ******/

@fontface {
  font: amazing-kids;
  src: url('fonts/amazing-kids.ttf') format('truetype');
}

* { margin: 0; padding: 0; }

body {
  background-color: #f8f8f8;
  font-family: 'Source Sans Pro', sans-serif;
}


/***** GRID *****/

.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
  margin: 0 auto;
}

.third-width {
  width: 400px;
  float: left;
  margin: 0 auto;
}

/***** NAVIGATION *****/

#header-logo img {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  padding-top: 7px;
  padding-left: 15px;
}

#navigation {
  background-color: #f5989d;
  list-style: none;
  float: right;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
  margin: 30.02px 0;
}

nav ul li {
  display: inline-block;
  text-transform: uppercase;
}

nav ul li a {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
}

nav ul li {
    padding: 27px 22px;
}

nav a {
  text-decoration: none;
}

nav a:hover:not(.active) {
  color: #ee4899;
}

/***** MAIN *****/

.main-text {
  border: 4px dashed #e1e0e0;
  text-align: center;
  margin-left: 50px;
  margin-top: 200px;
  padding: 30px;
  position: fixed;
  width: 700px;
  z-index: -1;
}


/****commenting out original styling
.main-text {
  clear: both;
  margin: 156px 200px;
  padding: 30px;
  position: fixed;
  border: 4px dashed #e1e0e0;
}

*****/

#main-title h1 {
  font-family: 'Playfair Display', serif;
  font-size: 61px;
  line-height: 55px;
  width: 670px;
  text-align: center;
  z-index: -1;
}

#main-title span {
  color: #ee4899;
}

#character {
  float: left;
  height: 600px;
  margin-top: 120px;
  margin-left: 720px;
  position: absolute;
  z-index: 0;
}

#welcome-speech p {
  font-size: 19px;
  text-align: center;
  padding-top: 30px;
  width: 640px;
  object-position: center;
}

#welcome-speech a {
  text-decoration: none;
  color: #ee4899;
  font-weight: bold;
}

/***** FOOTER *****/

footer {
  background-color: #f5989d;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 130px;
}

#column-one, #column-two, #column-three {
  color: white;
}

/***** COLUMN ONE *****/

#column-one {
  text-align: center;
  padding-top: 10px;
}

#column-one img {
  float: left;
  margin-left: 100px;
}

#column-one h2 {
  float: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 5px;
}

#column-one h3 {
  float: left;
  font-family: amazing-kids;
  font-size: 44.3px;
  letter-spacing: 3px;
  margin-left: 15px;
}

#rectangle-shape-one {
  width: 155px;
  height: 40px;
  background: #ee4899;
  position: absolute;
  left: 410px;
  top: 50px;
  z-index: -1;
}

/***** COLUMN TWO *****/

#column-two {
  text-align: center;
  padding-top: 10px;
}

#column-two h2 {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 4px;
  word-spacing: 5px;
}

#column-two h4 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 35.17px;
  margin-top: -4px;
}

#column-two h5 {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  word-spacing: 5px;
  margin-top: 3px;
  text-transform: uppercase;
}

#rectangle-shape-two {
  width: 300px;
  height: 40px;
  background: #ee4899;
  position: absolute;
  z-index: -1;
  left: 690px;
  top: 40px;

}

/***** COLUMN THREE *****/


#column-three {
  float: left;
  text-align: center;
  padding-top: 10px;
}

#column-three h2 {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 4px;
  word-spacing: 5px;
}

#column-three h3 {
  font-family: amazing-kids;
  font-size: 44.3px;
  letter-spacing: 3px;
}

#rectangle-shape-three {
  width: 265px;
  height: 40px;
  background: #ee4899;
  position: absolute;
  z-index: -1;
  left: 1107px;
}

/***** SIDENAV *****/

/**** bringing navigation to view*****/

#sidenav {
  z-index: 1;
}

#sidenav ul {
}

/*****arranging icons in nav******/

#sidenav li {
  display: inline-block;
}

#sidenav img {
  padding: 5px;
}
